# ipfs can generate profiling dump files
*.cpuprof
*.memprof

*.swp
.ipfsconfig
*.out
*.coverprofile
*.test
*.orig
*~

coverage.txt
gx-workspace-update.json

.ipfs
bin/gx
bin/gx*
bin/tmp


vendor
!vendor/gx/ipfs/QmZR2XWVVBCtbgBWnQhWk2xcQfaR3W8faQPriAiaaj7rsr
.tarball
go-ipfs-source.tar.gz
ipfs_linux
.idea
.vscode
